*{
    padding:0;
    margin:0;
    list-style: none;
    font-size: 16px;
}
section.search{
    width:100%;
    height:.5rem;
    background: #D33682;
    overflow: hidden;
}
section.search > input{
    width:80%;
    display: block;
    margin:.05rem auto;
    height:0.4rem;
    border: none;
    outline: none;
    border-radius: .05rem;
    box-sizing: border-box;
    padding-left:1em;
}

#wrapper{
    width:100%;
    height:0.5rem;
    overflow: hidden;
    line-height: .5rem;
    border-bottom:1px solid #ccc;
}
#scroller{
    width:10.5rem;
    height:100%;
    user-select: none;
    touch-action: none;
}
#scroller li{
    width:.7rem;
    height: 100%;
    text-align: center;
    color: #000;
    float: left;
}

#scroller li.active{
    color: #D33682;
}


.content{
    width:100%;
    height:auto;
}
.content .list{
    width:95%;
    margin:0 auto;
    height:auto;
    border-bottom: 1px solid #ccc;
    padding:0.1rem 0;

}
.content .list a{
    display: flex;
    justify-content: center;
    color: #000;
    text-decoration: none;
}
.left{
    width:40%;
    overflow:hidden;
    padding:.1rem;
    box-sizing: border-box;
}
.left img{
    width:90%;
}
.con{
    width:60%;
    padding:.1rem;
    box-sizing: border-box;
}
#add{
    width:100%;
    height:.4rem;
    line-height: .4rem;
    text-align: center;
}